{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
